{% extends 'base.html.twig' %}

{% block title %}Ajouter un événement {{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}

    <h2>Ajout d'un nouvel événement</h2>
    {{ form(form) }}
{% endblock %}