{% extends 'base.html.twig' %}

{% block title %}Modifier un événement {{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}

    <h2>Modification d'un événement</h2>
    {{ form(form) }}
{% endblock %}